p {
  padding-block: 15px;
  text-align: justify;
  color: whitesmoke;
  font-size: 20px;
  line-height: 50px;
  padding-right: 30px;
}

.profilepic {
  height: 580px;
  width: auto;
  border-radius: 10% / 50%;
}

#main {
  display: flex;
  flex-direction: row-reverse;
  background: linear-gradient(rgba(69, 61, 52, 0.764), rgba(56, 50, 50, 0.887));
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 50px;
}

#git {
  background-color: black;
  padding: 5px;
}

@media (max-width: 900px) {
  #main {
    flex-direction: column;
  }
}
