h1 {
  color: rgba(57, 51, 51, 0.788);
  font-size: 65px;
  padding-top: 25px;
  padding-left: 5px;
  text-shadow: whitesmoke 2px 2px;
  border-bottom: 5px double;
  border-bottom-right-radius: 30px;
}

#contact {
  padding-top: 100px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 125px;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 50% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.flyinTxtCont {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 45px;
  margin-left: 1em;
}
.flyIn {
  color: #fff;
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 1.2em;
  position: relative;
  text-shadow: 2px 2px 40px rgba(0, 0, 0, 0.7);
}
.lineOne {
  transition-delay: 0.2s;
  transition: 0.4s ease in;
  animation: txtFlyIn 0.3s linear;
}
.lineOne {
  color: rgba(57, 51, 51, 0.788);
  font-size: 55px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes txtFlyIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
