h4 {
  padding-left: 35px;
  padding-right: 150px;
  color: blue;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

#block {
  padding-top: 75px;
  padding-left: 50px;
  margin-bottom: 50px;
}
